[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "*"
Flask-Bootstrap = "*"
Flask-Cors = "*"
Flask-Mailgun = "*"
Flask-Script = "*"
Flask-DotEnv = "*"
gunicorn = "*"
clearbit = "*"
Flask-reCaptcha = "*"

[packages.opbeat]
extras = [ "flask",]
