{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="page-header">
                <h1>Raven</h1>
            </div>
            
            <form class="form-horizontal" action="{{ url_for('backend.api', site_uuid='c87c1c45-6b96-11e6-b708-34363bd0c9bc') }}" method="post" accept-charset="utf-8" id="js-contact-form">
                <div class="form-group">
                    <label for="id_name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" value="" id="id_name">
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="id_email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" value="" id="id_email" required>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="id_body" class="col-sm-2 control-label">Body</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="body" rows="8" cols="40" id="id_body" required></textarea>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ recaptcha }}
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Send Raven</button>
                    </div>
                </div>
            </form>

            <div class="alert alert-success" role="alert" id="js-contact-form-sucess" style="display:none">
                <strong>Thanks!</strong> Your message has been successfully sent. I will contact you very soon!
            </div>
            
            <div class="alert alert-error" role="alert" id="js-contact-form-error" style="display:none">
                <strong>Oh snap!</strong> Something went wrong.
            </div>
        </div>
    </div>
</div>
            
<div class="footer">
    <div class="container">
        <p class="text-muted text-center">Made by <a href="https://mylesb.ca/">Myles Braithwaite</a> with <span class="text-danger">(heart)</span> in Toronto.</p>
    </div>
</div>
{% endblock %}
