<p>This email was sent from a contact form on <strong>{{ site.name }}</strong>.</p>

<ul>
    <li><span style="color:#ddd">Name:</span> {{ form.name }}</li>
    <li><span style="color:#ddd">Email:</span> <a href="mailto:{{ form.email }}">{{ form.email }}</a></li>
    <li><span style="color:#ddd">Inquiry:</span> {{ form.subject }}</li>
    {% if email.subject == 'Interested in hiring me for a project' %}
    <li><span style="color:#ddd">Deadline:</span> {{ form.deadline }}</li>
    <li><span style="color:#ddd">Budget:</span> {{ form.budget }}{% endif %}</li>
    {% endif %}
</ul>

<pre>
    {{ form.message }}
</pre>
